.products {
  display: flex;
  flex-direction: column;
  align-items: center;

  .button-category {
    border: none;
    border-radius: 10px;
    cursor: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      cursor: pointer;
    }
  }

  .button-add-new-category {
    //width: 15%;
    border-radius: 10px;
    @include fontPoppins(12px, 600, 18px);
  }

  .edit-category {
    display: block;
    height: 16px;
    width: 16px;
    margin-left: 20px;
    margin-right: 10px;
    background: url('../assets/icons/edit.svg') no-repeat center;
  }

  .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .categories {
      display: flex;
      flex-wrap: wrap;
    }

    &-title {
      @include fontPoppins(22px, 500, 20px);
    }

    .button-create {
      background: #ED1C24;
      padding: 10px 20px;
      @include fontPoppins(12px, 600, 18px);
    }

    .button-category {
      background: #D2F4FF;
      color: $color-background-blue;
      padding: 10px 0 10px 20px;
      margin: 5px 10px;
      @include fontPoppins(12px, 600, 18px);

      &.selected {
        color: #FFFFFF;
        background: $color-background-blue;

        .edit-category {
          background: url('../assets/icons/edit-white.svg') no-repeat center;
        }
      }
    }
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
  }
}
.form {
  &-price {
    padding-right: 20px;
    box-sizing: border-box;

    &:after {
      content: '$';
      position: absolute;
      right: 0;
    }
  }

  &-volume {
    padding-right: 20px;
    box-sizing: border-box;

    &:after {
      content: 'L';
      position: absolute;
      right: 0;
    }
  }
}
.item {
  width: 200px;
  //min-width: 200px;
  //max-width: 200px;
  border: 1px solid #E8E8E8;
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2F3741;

  img {
    width: 100px;
    height: 200px;
    object-fit: contain;
    //height: 100px;
  }

  &-edit {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 37px;
    width: 37px;
    border-radius: 5px;
    cursor: pointer;
    background: url(../assets/icons/edit.svg) no-repeat center, rgba(28, 200, 255, 0.2);
  }

  &-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    &-row {
      display: flex;
      justify-content: space-between;
      padding: 5px 0;

      .price {
        @include fontPoppins(15px, 500, 16px);

        &-promo {
          text-decoration: line-through;
          color: #92ABBA;
          @include fontPoppins(12px, 500, 16px);
        }
      }

      .volume {
        @include fontPoppins(12px, 500, 16px);
        color: #92ABBA;
      }

      .description {
        @include fontPoppins(12px, 600, 16px);
      }
    }
  }
}

