@import "./variables";
$--color-danger: #FD5954;
$--color-info: #ed1d24;
$--color-primary: #005CB9;
$--color-warning: rgba(28, 200, 255, 0.2);
//required
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index.scss";
.header-cell{
  background-color: #D2F4FF!important;
  color: $color-background-blue;
  @include fontPoppins(12px, 600, 18px);
  text-align: center!important;
  border: none;
}
.table-cell{
  text-align: center!important;
  @include fontPoppins(12px, 400, 18px);
  color: #2F3741;
}
.el-table__header-wrapper{
  border-radius: 10px;
}
.el-table .cell {
  word-break: inherit;
}
.el-scrollbar__view.el-select-dropdown__list .el-select-dropdown__item span, .el-dialog, .el-message, .el-textarea{
  @include fontPoppins(14px, 400, 20px);
}
.el-dialog{
  @include fontPoppins(14px, 400, 20px);
  border-radius: 10px;
  min-width: 660px;
}
.el-textarea__inner{
  @include fontPoppins(14px, 400, 20px);
}
.dialog-footer {
  display: flex;
  justify-content: center;

  button {
    width: 300px;
  }
}
