@mixin fontPoppins($size, $weight, $line-height) {
  font-family: 'Poppins', sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}

input, button {
  outline: none;
  border: none;
}

$color-background-blue: #005CB9;
.fw500{
  font-weight: bold;
}

.invalid {
  border: 1px solid #be2a56 !important;
}
.image-block {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;

  .image {
    width: 300px;
    height: 200px;
    border: 1px dashed #E7E6E6;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    object-fit: contain;
  }

  .image-cropper {
    width: 300px;
    height: 200px;
    border: 1px dashed #E7E6E6;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    color: #2F3741;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
  }
}
