@mixin fontPoppins($size, $weight, $line-height) {
  font-family: 'Poppins', sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}
input, button {
  outline: none;
  border: none;
}
